.amount {
  white-space: nowrap;
  .currency {
    font-size: 80%;
    opacity: 50%;
  }
  .fractions {
    font-size: 80%;
    opacity: 50%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  > .amount {
    .currency {
      font-size: 67.5%;
    }
  }
}
