body {
  padding-top: 50px;
  background-color: #e5e5e5 !important;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  background-color: #f0f0f0;
  font-size: 90%;
}

.amount {
  .currency {
    font-size: 67.5%;
    opacity: 50%;
  }
  .fractions {
    font-size: 67.5%;
    opacity: 50%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  > .amount {
    .currency {
    //   font-size: 100%;
    }
  }
}

.status-icon {
  opacity: 0.4;
}

.clickable {
  cursor: pointer;
}

.pastebutton-overlaid {
  position: relative;
  margin-top: -2em;
}

.certificate-input textarea {
  font-size: 75%;
  font-family: "Courier New", Courier, monospace;
}

#toast-container {
  position: "relative";
  min-height: "200px";
  //   position: absolute;
  //   top: 50px;
  //   right: 5px;
  //   z-index: 1500;
}

.copy-to-clipboard {
  cursor: pointer;
}
